.modal {
    height: 20vh;
    width:70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: solid, 1px, grey;
}
