.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15vh;
    justify-content: space-between;
}
.right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20vh;
    justify-content: space-between;
}

img {
    height: 4vh;
    width: 7vh;
}

.search-div {
    position: relative;
}

.search-dropdown {
    position: absolute;
    background-color: white;
    z-index: 999999;
}
