.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 236, 236);
}

a {
    color:black
}

.nav > * {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
}

.nav > div > * {
    color:black
}

button:hover {
    color:orange;
}

button {
	background: none;
	color: inherit;
	border: solid, 1px, grey;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}

.right-nav > button {
    width: 20vh;
}

.left-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15vh;
    justify-content: space-between;
}

input {
    width: 50vh;
}

.right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30vh;
    justify-content: space-between;
}

.logo {
    height: 4vh;
    width: 7vh;
}

.search-div {
    position: relative;
}

.search-dropdown {
    position: absolute;
    background-color: white;
    z-index: 999999;
}
