.form {
    height: 20vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

button {
    height: 2vh;
    width: 10vh;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}
